btn-increase{
    width: 38px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: var(--main);
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
